:root{
    --azul: #5163D3;
    --cinza: #EEEEEE;
    --azul-claro: #D7E4FB;
    --branco: #FFFFFF;
    --preto: #1B1C1E;
    --cinza-claro: #F9F9F9;
}
body{
    background-color: var(--cinza-claro);
    margin: 0 33px;
    font-family: 'Roboto Slab', serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Header */
header{
    margin-bottom: 96px;
}
.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--azul);
}
/* DivPrincipal */
.card__principal{
    margin: 0 230px 72px;
    max-width: 980px;
    border: 1px solid var(--cinza);
    box-shadow: 3px 3px 5px rgba(27, 28, 30, 0.1);
    border-radius: 4px;
}
.divMateriaPrincipal{
    height: 360px;
    display: flex;
    justify-content: center;
}
.divInfoPrincipal{
   padding-top: 45px;
   box-sizing: border-box;
}
.categoriaPrincipal{
    margin-left: 18px;
    background: var(--azul-claro);
    border-radius: 4px;
    padding: 2px 10px;
    font-weight: 500;
    font-size: 14px;
    color: var(--azul);
}
.tituloPrincipal{
    margin: 24px 39px 76px 24px;
    font-weight: 700;
    font-size: 28px;
    color: var(--azul);
}
.resumoPrincipal{
    color: var(--preto);
    margin-bottom: 40px;
    margin-left: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.fontePrincipal{
    color: var(--preto);
    margin-bottom: 45px;
    margin-left: 24px;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
}
.imagemPrincipal{
    width: 420px;
}